.home{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeOut{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logoutDiv{
    display: flex;
    justify-content: end;
}